#home{
  color: white;
  text-align: center;
  background-image: url("../images/homebg.jpg");
  height: 100vh;
  line-height: 200px;
  background-size: cover;
}
#about{
  text-align: center;
}
#services{
  color: white;
  text-align: center;
  background-image: url("../images/servicesbg.jpg");
}
#jobs{
  text-align: center;
}
#contacts{
  color: white;
  text-align: center;
  background-image: url("../images/contactsbg.jpg");
}
#name{
  background: none;
  
}
#email{
  background: none;
}
#message{
  background: none;
}
::placeholder{
  color: white;
}
