#home{
  color: white;
  text-align: center;
  background-image: url("../images/homebg.jpg");
  font-family: 'Roboto', sans-serif;
  /* height: 100vh; 
  line-height: 200px;*/
  background-size: cover;
}
#logo{
  margin-top: 17%;
  position: relative;
}
#welcome{
  font-size: 50px;
  padding-top: 30px;
}
#studio{
  font-size: 50px;
  padding-top: 20px;
}
#mouse-click{
  padding-top: 10%;
}
#about{
  margin-top: 4%;
  text-align: center;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
}
#services{
  margin-top: 4%;
  color: white;
  text-align: center;
  background-image: url("../images/servicesbg.jpg");
  line-height: 35px;
  font-family: 'Poppins', sans-serif;
}
#serve{
  padding-top: 10%;
}
#service{
  padding-bottom: 7%;
}
#jobs{
  margin-top: 4%;
  text-align: center;
}
#wedo{
  padding-bottom: 15px;
}
#alldescription{
  display: flex;
}
#designIcon, #devIcon, #prodIcon{
  }
#design, #development, #product{
  display: none;
}
#row2{
  padding-top: 15px;
}
#contacts{
  margin-top: 4%;
  color: white;
  text-align: center;
  background-image: url("../images/contactsbg.jpg");
  height: 70vh;
}
.contactitle{
  margin-top: 5%;
}
#name{
  background: none;
  width: 25%;
  outline: 0;
  padding: 10px;
  border: 1px solid white;
  color: white;
  font-size: 18px;
}
#email{
  background: none;
  width: 25%;
  outline: 0;
  padding: 10px;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  
}
#message{
  background: none;
  width: 52%;
  outline: 0;
  margin-top: 2.5%;
  border: 1px solid white;
  padding-bottom: 15%;
  color: white;
  font-size: 18px;
}
::placeholder{
  color: white;
  font-size: 18px;
}
#social{
  text-align: center;
  margin-top: 4%;
}
