#home{
  color: white;
  text-align: center;
  background-image: url("../images/homebg.jpg");
  font-family: 'Roboto', sans-serif;
  /* height: 100vh; 
  line-height: 200px;*/
  background-size: cover;
}
#logo{
  margin-top: 17%;
  position: relative;
}
#welcome{
  font-size: 50px;
  padding-top: 30px;
}
#studio{
  font-size: 50px;
  padding-top: 20px;
}
#mouse-click{
  padding-top: 10%;
}
#about{
  margin-top: 4%;
  text-align: center;
}
#services{
  margin-top: 4%;
  color: white;
  text-align: center;
  background-image: url("../images/servicesbg.jpg");
  line-height: 100px;
}
#jobs{
  margin-top: 4%;
  text-align: center;
}
#design{
  display: none;
}
#development{
  display: none;
}
#product{
  display: none;
}
#contacts{
  margin-top: 4%;
  color: white;
  text-align: center;
  background-image: url("../images/contactsbg.jpg");
  height: 70vh;
}
.contactitle{
  margin-top: 5%;
}
#name{
  background: none;
  width: 25%;
  outline: 0;
  padding: 10px;
  border: 1px solid white;
}
#email{
  background: none;
  width: 25%;
  outline: 0;
  padding: 10px;
  border: 1px solid white;
  
}
#message{
  background: none;
  width: 50%;
  outline: 0;
  margin-top: 2.5%;
  border: 1px solid white;
  line-height: 200px;
}
::placeholder{
  color: white;
}
#social{
  text-align: center;
  margin-top: 4%;
}
